<header>
    <div class="container-menu">
        <a href="#spawn" class="logo-a">
            <svg class="icon icon-logo">
                <use xlink:href="../images/icon.svg/symbol-defs.svg#icon-logo"></use>
            </svg>
        </a>
        <input type="checkbox" class="menu-toggle" id="menu-toggle">
        <label for="menu-toggle" class="menu-a">
            <svg class="icon icon-menu">
                <use xlink:href="../images/icon.svg/symbol-defs.svg#icon-menu"></use>
            </svg>
        </label>
        <div class="side-panel">
            <label for="menu-toggle" class="close-button">
                <svg class="icon icon-close">
                    <use xlink:href="../images/icon.svg/symbol-defs.svg#icon-close"></use>
                </svg>
            </label>
            <ul class="side-container">
                <li class="menu-item">
                    <a href="#howitworks">How It Works</a>


                </li>
                <li class="menu-item">
                    <a href="#vegetables">Vegetables</a>


                </li>
                <li class="menu-item">
                    <a href="#reviews">Reviews</a>


                </li>
            </ul>
            <div class="shop-now">
                <button>SHOP NOW</button>
            </div>
        </div>
    </div>

</header>