<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
      integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="hero.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="hero-container">
      <div class="hero-text">
        <h1>ORGANIC VEGETABLES TO YOUR DIET TODAY!</h1>
        <p>
          Our expertly curated vegetable baskets are made with the freshest,
          highest quality vegetables available. Fresh Harvest Box has got you
          covered. Fresh, high-quality vegetables in expertly curated vegetable
          baskets delivered to you.
        </p>
      </div>

      <div class="hero-image">
        <img
          src="./images/hero-image.jpg"
          alt="vegetable-image"
          srcset="
            ./images/hero-image.jpg    1x,
            ./images/hero-image@2x.jpg 2x,
            ./images/hero-image@3x.jpg
          "
        />
      </div>
    </div>
  </body>
</html>
