  <div class="hero-container">
    <div class="hero-content">
      <h1 class="hero-header">ORGANIC VEGETABLES TO YOUR DIET TODAY!</h1>
      <p class="hero-text">
        Our expertly curated vegetable baskets are made with the freshest, highest
        quality vegetables available. Fresh Harvest Box has got you covered.
        Fresh, high-quality vegetables in expertly curated vegetable baskets
        delivered to you.
      </p>
    </div>

    <div class="hero-image">
      <img class="hero-img"
        src="./images/hero-image.jpg"
        srcset="./images/hero-image-2x.jpg 2x, ./images/hero-image-3x.jpg 3x"
        alt="vegetable-image"
      />
    </div>
  </div>
