<div class="vegetables-container">
  <section class="vegetables-section veg-section">
    <h2 class="vegetables-title">
      ORGANIC <span style="color: rgba(212, 191, 196, 1)">VEGETABLES</span>
    </h2>
    <p class="vegetables-description">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>

    <ul class="vegetables-product-list">
      <li class="vegetables-product-item">
        <h3 class="vegetables-product-name">EGGPLANT</h3>
        <p class="vegetables-product-price">60 USD / kg</p>
        <img
          class="vegetables-image"
          src="../vegetables-images/eggplant.png"
          srcset="
            ../vegetables-images/eggplant@2x.png 2x,
            ../vegetables-images/eggplant@3x.png 3x
          "
          alt=""
          width="280px"
          height="240px"
        />
      </li>

      <li class="vegetables-product-item">
        <h3 class="vegetables-product-name">LEEK</h3>
        <p class="vegetables-product-price">50 USD / kg</p>
        <img
          class="vegetables-image"
          src="../vegetables-images/leek.png"
          srcset="
            ../vegetables-images/leek@2x.png 2x,
            ../vegetables-images/leek@3x.png 3x
          "
          alt=""
          width="280px"
          height="240px"
        />
      </li>
    </ul>

    <ul class="vegetables-product-list">
      <li class="vegetables-product-item">
        <h3 class="vegetables-product-name">MUSHROOMS</h3>
        <p class="vegetables-product-price">40 USD / kg</p>
        <img
          class="vegetables-image"
          src="../vegetables-images/mushrooms.png"
          srcset="
            ../vegetables-images/mushrooms@2x.png 2x,
            ../vegetables-images/mushrooms@3x.png 3x
          "
          alt=""
          width="280px"
          height="240px"
        />
      </li>
      <li class="vegetables-product-item">
        <h3 class="vegetables-product-name">CORN</h3>
        <p class="vegetables-product-price">60 USD / kg</p>
        <img
          class="vegetables-image"
          src="../vegetables-images/corn.png"
          srcset="
            ../vegetables-images/corn@2x.png 2x,
            ../vegetables-images/corn@3x.png 3x
          "
          alt=""
          width="280px"
          height="240px"
        />
      </li>
    </ul>

    <ul class="vegetables-product-list-last">
      <li class="vegetables-product-item">
        <h3 class="vegetables-product-name">SWEET POTATOES</h3>
        <p class="vegetables-product-price">50 USD / kg</p>
        <img
          class="vegetables-image"
          src="../vegetables-images/sweet-potatoes.png"
          srcset="
            ../vegetables-images/sweet-potatoes@2x.png 2x,
            ../vegetables-images/sweet-potatoes@3x.png 3x
          "
          alt=""
          width="280px"
          height="240px"
        />
      </li>
      <li class="vegetables-product-item">
        <h3 class="vegetables-product-name">CARROT</h3>
        <p class="vegetables-product-price">40 USD / kg</p>
        <img
          class="vegetables-image"
          src="../vegetables-images/carrot.png"
          srcset="
            ../vegetables-images/carrot@2x.png 2x,
            ../vegetables-images/carrot@3x.png 3x
          "
          alt=""
          width="280px"
          height="240px"
        />
      </li>
    </ul>

    <ul class="vegetables-product-list-desktop">
      <li class="vegetables-product-item">
        <h3 class="vegetables-product-name">EGGPLANT</h3>
        <p class="vegetables-product-price">60 USD / kg</p>
        <img
          class="vegetables-image"
          src="../vegetables-images/eggplant.png"
          srcset="
            ../vegetables-images/eggplant@2x.png 2x,
            ../vegetables-images/eggplant@3x.png 3x
          "
          alt=""
          width="280px"
          height="240px"
        />
      </li>

      <li class="vegetables-product-item">
        <h3 class="vegetables-product-name">LEEK</h3>
        <p class="vegetables-product-price">50 USD / kg</p>
        <img
          class="vegetables-image"
          src="../vegetables-images/leek.png"
          srcset="
            ../vegetables-images/leek@2x.png 2x,
            ../vegetables-images/leek@3x.png 3x
          "
          alt=""
          width="280px"
          height="240px"
        />
      </li>

      <li class="vegetables-product-item">
        <h3 class="vegetables-product-name">MUSHROOMS</h3>
        <p class="vegetables-product-price">40 USD / kg</p>
        <img
          class="vegetables-image"
          src="../vegetables-images/mushrooms.png"
          srcset="
            ../vegetables-images/mushrooms@2x.png 2x,
            ../vegetables-images/mushrooms@3x.png 3x
          "
          alt=""
          width="280px"
          height="240px"
        />
      </li>
    </ul>

    <ul class="vegetables-product-list-desktop-2">
      <li class="vegetables-product-item">
        <h3 class="vegetables-product-name">CORN</h3>
        <p class="vegetables-product-price">60 USD / kg</p>
        <img
          class="vegetables-image"
          src="../vegetables-images/corn.png"
          srcset="
            ../vegetables-images/corn@2x.png 2x,
            ../vegetables-images/corn@3x.png 3x
          "
          alt=""
          width="280px"
          height="240px"
        />
      </li>

      <li class="vegetables-product-item">
        <h3 class="vegetables-product-name">SWEET POTATOES</h3>
        <p class="vegetables-product-price">50 USD / kg</p>
        <img
          class="vegetables-image"
          src="../vegetables-images/sweet-potatoes.png"
          srcset="
            ../vegetables-images/sweet-potatoes@2x.png 2x,
            ../vegetables-images/sweet-potatoes@3x.png 3x
          "
          alt=""
          width="280px"
          height="240px"
        />
      </li>
      <li class="vegetables-product-item">
        <h3 class="vegetables-product-name">CARROT</h3>
        <p class="vegetables-product-price">40 USD / kg</p>
        <img
          class="vegetables-image"
          src="../vegetables-images/carrot.png"
          srcset="
            ../vegetables-images/carrot@2x.png 2x,
            ../vegetables-images/carrot@3x.png 3x
          "
          alt=""
          width="280px"
          height="240px"
        />
      </li>
    </ul>
  </section>
</div>
