<!--YOUR ORDER CONTAINER-->
<section class="order section">
  <div id="order" class="container">
    <div class="h2-title">
      <h2>
        fresh <span class="blushword">harvest</span> box has got you
        <span class="covered"><br /></span>covered
      </h2>
      <p>
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>

    <!--Form box and Social media box-->
    <div class="boxes">
      <div class="form-box">
        <h3>
          Ordering <span class="chiantiword">from us</span> is quick and easy!
          Fill out
          <span class="greenword">the form</span>
          below and we will contact you !
        </h3>
        <form class="form" name="order" autocomplete="off">
          <label class="form-label" for="name">
            <input
              class="form-input"
              type="text"
              name="name"
              placeholder="Full Name"
            />
          </label>

          <label class="form-label" for="email">
            <input
              class="form-input"
              type="email"
              name="email"
              placeholder="Email"
            />
          </label>

          <label class="form-label" for="comment">
            <textarea
              class="form-textarea"
              name="comment"
              placeholder="Comment"
            ></textarea>
          </label>

          <button type="submit" class="submit-btn">SEND</button>
        </form>
      </div>

      <!--Sosyal medya hesapları bu yorumun altına eklenebilir-->
    </div>
  </div>
</section>
