.promo-section {
  background-color: #ffffff;
  padding: 60px 20px;
  text-align: center;
  min-width: 320px;
  height: 472px;
  max-width: 100%;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.discount-text {
  font-size: 48px;
  color: #222222;
  line-height: 1.5;
  margin: 0 auto;
  text-align: left;
}
.promo-content span {
  background-color: #576f35;
  color: #fff;
  padding: 0 8px;
  border-radius: 10px;
  display: inline-block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .promo-section {
    height: 478px;
    width: 100%;
  }
  .discount-text {
    font-size: 64px;
  }
}
@media (min-width: 1280px) {
  .promo-section {
    height: 428px;
    width: 100%;
    padding: 100px 100px;
    gap: 10px;
  }
  .discount-text {
    font-size: 76px;
  }
}
