.how-it-works{
    min-width:320px;
    display:flex;
    flex-direction:column;
    margin:0 auto;
}

.hiw-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.hiw-section-image{
    background-color:#7A3145;
    padding:40px 20px;
    overflow: hidden;
    text-align: center;
}

.how-it-works-img{
    display: block;
    max-width: 100%;
    height: auto; 
    border-radius: 30px; 
    object-fit: cover;
    margin: 0 auto;
}

.hiw-section-content{
    background-color:#576F35;
    padding:40px 20px; 
}

.how-it-works-title{
    font-family: 'Inter Tight', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #FBFBFB;
    margin-bottom: 16px;
}

.hiw-highlight{
    color:#D4BFC4;
    font-style: italic;
}

.how-it-works-description{
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #FBFBFB;
    margin-bottom: 32px;
}

.hiw-steps-list {
    list-style: none;
    padding: 0; 
    margin: 0;
    counter-reset: step-counter; 
}
.hiw-steps-list li {
    counter-increment: step-counter; 
    background-color: white; 
    border-radius: 15px; 
    padding: 12px 27px; 
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 15px; 
}

.hiw-steps-list li::before {
    content: counter(step-counter); 
    width: 35px; 
    height: 35px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7A3145; 
    color: white; 
    font-weight: bold;
    font-size: 1em;
    flex-shrink: 0;
}
.hiw-step-text {
  font-weight: 500;       
  color:#858585;
  line-height:20px;
  font-size:14px;
}

.hiw-text-highlight{
  color:#141414;
}

/* TABLET */
@media (min-width: 768px) {
  .hiw-section-image {
    padding: 100px 64px;
  }

  .how-it-works-img {
    width: 640px;
    height:640px;
  }

  .hiw-section-content {
    padding: 100px 64px;
  }

  .how-it-works-title,
  .how-it-works-description,
  .hiw-steps-list {
    max-width: 440px;
    margin: 0 auto;
  }

    .how-it-works-title{
    margin-bottom: 24px;
    font-size:32px;
    line-height: 32px;
  }

  .how-it-works-description {
    margin-bottom: 52px;
    font-size: 16px;
  }

  .hiw-steps-list{
    gap:24px;
  }

  .hiw-steps-list li{
  padding: 12px 25px; 
 }

  .hiw-step-text{
    font-size:16px;
  }          
}

/* DESKTOP */
@media (min-width: 1280px) {
  .how-it-works {
    flex-direction: row;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  .hiw-section-image {
    flex: 1;
    padding: 100px 100px;
    min-width:0;
  }

  .how-it-works-img {
    width: 440px;
  }

  .hiw-section-content {
    flex: 1;
    padding: 100px 100px;
    min-width:0;
  }

  .how-it-works-title{
    margin-bottom: 24px;
    font-size:32px;
    line-height: 32px;
  }

  .hiw-steps-section{
    margin-top:60px;
  }

  .how-it-works-description {
    margin-bottom: 104px;
    font-size: 16px;
  }

  .hiw-steps-list{
    gap:24px;
  }

  .hiw-steps-list li {
  padding: 12px 25px;
 }

   .hiw-step-text{
    font-size:16px;
  }
}
