*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Inter Tight', sans-serif;
}
@import url('../css/header.css');
@import url('../css/hero.css');
@import url('../css/how-it-works.css');
@import url('../css/advertisement.css');
@import url('../css/vegetables.css');
@import url('../css/reviews.css');
@import url('../css/your-order-1-2.css');
@import url('../css/footer.css');
