.vegetables-container {
  margin: 0 auto;
  max-width: 375px;
  padding: 80px 20px;
}

.vegetables-section {
  background-color: rgba(122, 49, 69, 1);
}

.vegetables-title {
  color: rgba(251, 251, 251, 1);
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 20px;
  letter-spacing: -0.015em;
}

.vegetables-description {
  color: white;
  font-weight: 500;
  /* height: 80px; */
  font-size: 14px;
  /* width: 335px; */
  line-height: 20px;
  margin-bottom: 40px;
  overflow: hidden;
}

.vegetables-product-list-desktop {
  display: none;
}

.vegetables-product-list-desktop-2 {
  display: none;
}

.vegetables-product-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.vegetables-product-list-last {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vegetables-product-item {
  list-style: none;
  background-color: white;
  padding: 32px 24px;
  height: 376px;
  border-radius: 40px;
}

.vegetables-product-name {
  color: rgba(122, 49, 69, 1);
  margin-bottom: 12px;
  font-size: 28px;
  line-height: 28px;
}

.vegetables-product-price {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .vegetables-container {
    max-width: 768px;
    padding: 100px 32px;
  }

  .vegetables-section {
    background-color: rgba(122, 49, 69, 1);
  }

  .vegetables-title {
    font-size: 64px;
    width: 508px;
    line-height: 64px;
    margin-bottom: 24px;
  }

  .vegetables-description {
    width: 626px;
    font-size: 16px;
    margin-bottom: 52px;
  }

  .vegetables-product-list-desktop {
    display: none;
  }

  .vegetables-product-list-desktop-2 {
    display: none;
  }

  .vegetables-product-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 28px;
    justify-content: center;
  }

  .vegetables-product-list-last {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
  }

  .vegetables-product-item {
    width: 340px;
    height: 380px;
  }

  .vegetables-product-name {
    font-size: 32px;
    line-height: 32px;
  }

  .vegetables-product-price {
    font-size: 16px;
    margin-bottom: 12px;
  }
}

@media (min-width: 1280px) {
  .vegetables-container {
    max-width: 1280px; /* içerik 1280’de sabit, arka plan tam sayfa */
    padding: 100px 100px;
    margin: 0;
    min-width: 100%;
  }

  .vegetables-section {
    background-color: rgba(122, 49, 69, 1);
  }

  .vegetables-product-list {
    display: none;
  }

  .vegetables-product-list-last {
    display: none;
  }

  .vegetables-product-list-desktop {
    display: flex;
    gap: 24px;
    margin-bottom: 28px;
    justify-content: space-between;
  }

  .vegetables-product-list-desktop-2 {
    display: flex;
    gap: 24px;
    justify-content: space-between;
  }

  .vegetables-product-item {
    width: 344px;
    height: 380px;
  }

  .vegetables-product-price {
    margin-bottom: 8px;
  }

  .vegetables-image {
    height: 244px;
  }
}
